/*------------------------------------*\
	BUTTONS
\*------------------------------------*/

.btn {
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:14px;
	line-height:38px;
	padding:0 28px;
	margin:0 15px 0 0;
	text-align:center;
	border:0;
	@include vendor(border-radius, 4px 4px 5px 5px);
	&:hover {
		opacity:0.8;
	}
	&.btn--blue {
		background:#2980B9;
		color:#FFF;
		@include vendor(box-shadow, 0 4px 0 #196CA3);
		&:hover {
			color:#FFF;
		}
	}
	&.btn--white {
		background:#FFF;
		color:#444;
		@include vendor(box-shadow, 0 4px 0 #CCC);
		&:hover {
			color:#444;
		}
	}
	&.btn--red {
		background:#FFF;
		color:#444;
		@include vendor(box-shadow, 0 4px 0 #CCC);
		&:hover {
			color:#444;
		}
	}
}

/*------------------------------------*\
	GRIDS
\*------------------------------------*/

.grid__4 {
	float:left;
	width:23%;
	margin:0 2.5% 0 0;
}
.grid__3 {
	float:left;
	width:31.5%;
	margin:0 2.5% 0 0;
}
.grid--last {
	margin:0;
}